@page "/counter"

<h1>Counter</h1>
<h2>Counter</h2>
<h3>Counter</h3>
<h4>Counter</h4>
<h5>Counter</h5>
<h6>Counter</h6>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

