@page "/sayani"
<h3>Sayani</h3>

<a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">This</a> is a link to my favourite web page.
<br />
<br />

<table>
    <tr>
        <th>Company</th>
        <th>Contact Name</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Tesla</td>
        <td>Elon Musk</td>
        <td>United States</td>
    </tr>
    <tr>
        <td>British Telecom</td>
        <td>Philip Jansen</td>
        <td>United Kindom</td>
    </tr>
</table>

<br/>

<p>
    <b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis commodo libero, a convallis odio ornare id. In dignissim dui non quam euismod congue in non dolor. Fusce ut metus rhoncus, dictum nunc sed, tempor nisl. Nunc tempor, dui sit amet aliquam rutrum, est felis elementum lacus, vel varius urna arcu efficitur ipsum. Integer hendrerit congue libero, sed varius sem ultricies finibus. Aliquam quis eros in sem feugiat semper sodales mollis purus. In placerat risus a eros viverra, non pharetra magna laoreet. Praesent a justo iaculis, efficitur orci ut, efficitur dui. Etiam luctus lacus vel volutpat tincidunt. Sed consequat, nibh ut faucibus malesuada, enim lectus efficitur neque, sit amet consectetur ex sapien eu nisi.
    </b>
    <br />
    <i>Morbi vitae augue eu turpis porta commodo ac nec risus. </i>
    Fusce consequat cursus aliquam. Aenean libero dolor, commodo non enim et, placerat efficitur mi. In facilisis velit ut ipsum viverra, in malesuada nibh commodo. Donec hendrerit ultricies diam vitae rhoncus. Phasellus convallis a nunc et bibendum. Cras risus urna, dictum eget vestibulum a, sodales quis nulla. Pellentesque varius, metus at congue rutrum, tellus lacus vehicula urna, quis ullamcorper nisi lacus vitae elit. Integer gravida, enim eget posuere commodo, mauris erat tincidunt lorem, ac sollicitudin mi ligula et lorem. Pellentesque ultrices condimentum metus. Duis vitae purus urna. Cras vitae ipsum elementum, volutpat lacus id, imperdiet est.
</p>
<br />
<p>
    This is <sub>subscript</sub>
    <br />
    This is <sup>superscript</sup>
</p>
