@page "/ToDoList"

<h3>ToDoList</h3>

<form>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter task name" @bind="ListElement.name">
    </div>
    <div class="form-group">
        <label>Task description details</label>
        <input type="text" class="form-control" placeholder="Enter description" @bind="ListElement.description">
    </div>
    <div>
        <label>Due Date:</label>
        <input type="date" @bind="ListElement.dueDate">
    </div>
    <div class="form-group">
        <label>Who is responsible for this task?</label>
        <input type="text" class="form-control" placeholder="Enter name" @bind="ListElement.whoseResponsibility"> 
    </div>
    
    <button type="button" class="btn btn-primary" @onclick="DisplayElement" >Submit</button>
</form>

@if (CanDisplayElement)
{
<div>
    @foreach (var listElement in ListElements)
    {
        <p>@listElement.name</p>
        <p>@listElement.description</p>
        <p>@listElement.dueDate</p>
        <p>@listElement.whoseResponsibility</p>
    }

</div>

}

